*{
    text-decoration: none;
    
    
}
.navbar{
    background: rgb(0, 0, 0); 
    font-style: italic;
    font-family: 'Bebas Neue', sans-serif;
    /* font-family: 'Comic Neue', cursive;
    font-family: 'Raleway', sans-serif; */
    padding-right: 15px;padding-left: 15px;
    
    
}
.navdiv{
    display: flex; align-items: center; justify-content: space-between;
}
.logo a{
    font-size: 120px; font-weight: 600; color: rgb(255, 255, 255);

    
}
.logo span{
    padding-left: 10px;
}
li{
    list-style: none; display: inline-block;
}
li i{
    color: rgb(255, 255, 255); font-size: 56px; font-weight: bold; margin-right: 25px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    padding: 0px 30px;
}
/* button{
    background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}
button a{
    color: white; font-weight: bold; font-size: 15px;
} */
